### Django ###
*.sqlite3
*.pyc
__pycache__/
migrations/
*.pot
*.py[co]

# Arquivos de ambiente do Django
.env
.env/
.env.local
.env.*.local
!.env.example  # Mantém o arquivo exemplo

### Backend ###
# Cobertura de testes
.coverage
htmlcov/

# IDE
.idea/
.vscode/
*.swp
*.swo

### Frontend ###
# Dependências
node_modules/
.pnp
.pnp.js

# Build
dist/
dist-ssr/
*.tsbuildinfo

# Cache
.cache/
.temp/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Sistema
.DS_Store
Thumbs.db