
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
@import "tailwindcss-primeui";
@import "primeicons/primeicons.css";
@custom-variant dark (&:where(.p-dark, .p-dark *));

@theme {
  --font-inter: "Inter", sans-serif;
  --drop-shadow-3xl: 0 35px 35px rgba(0, 0, 0, 0.25); 
}


@layer base {
    menu-item{
      font-size: var(--text-2xl);
      line-height: 24px;
    }
   
}  